// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@mixin customTransition(
    $time: 0.25s,
    $delay: 0s,
    $transitionEffect: ease-in-out,
    $property: transform,
    $initalValue: translateX(-500px),
    $finalValue: translateX(0),
    $exitTime: 0.25s
) {
    opacity: 0;

    &-appear {
        opacity: 0;
        #{$property}: $initalValue;
    }
    &-appear-active {
        opacity: 1;
        #{$property}: $finalValue;
        transition: opacity $time $transitionEffect,
            $property $time $transitionEffect;
        transition-delay: $delay;
    }
    &-appear-done {
        opacity: 1;
        #{$property}: $finalValue;
    }
    &-enter {
        opacity: 0;
        #{$property}: $initalValue;
    }
    &-enter-active {
        opacity: 1;
        #{$property}: $finalValue;
        transition: opacity $time $transitionEffect,
            $property $time $transitionEffect;
        transition-delay: $delay;
    }
    &-enter-done {
        opacity: 1;
        #{$property}: $finalValue;
    }
    &-exit {
        opacity: 1;
    }
    &-exit-active {
        opacity: 0;
        transition: opacity $exitTime $transitionEffect;
    }
    &-exit-done {
        opacity: 0;
        #{$property}: $initalValue;
    }
}

@import "partials/navbar";
@import "partials/footer";
@import "partials/home";
@import "partials/product";

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

::-moz-selection {
    /* Code for Firefox */
    background: var(--chakra-colors-secondary);
}

::selection {
    background: var(--chakra-colors-secondary);
}

.chakra-button__icon {
    font-size: 15px;
}

.scroll-btn {
    opacity: 0;
    z-index: 0;
    @include customTransition(0.2s, 0s, ease-in-out, z-index, 0, 999);
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: var(
        --chakra-colors-secondary
    ); /* color of the scroll thumb */
    border-radius: 10px; /* roundness of the scroll thumb */
    border: none; /* creates padding around scroll thumb */
}

.chakra-button,
.chakra-stack {
    padding-inline-end: 0px !important;
    padding-inline-start: 0px !important;
    -webkit-padding-start: 0px !important;
    -webkit-padding-end: 0px !important;
}
