// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "partials/navbar";
@import "partials/home";

body {
    position: relative;
}

::-moz-selection {
    /* Code for Firefox */
    background: var(--chakra-colors-secondary);
}

::selection {
    background: var(--chakra-colors-secondary);
}
