.chakra-form__label,
.chakra-input {
    font-size: small !important;
    margin-bottom: 0 !important;
}

.chakra-form-control {
    margin-bottom: 30px !important;
}

.css-1gisly7 {
    color: var(--chakra-colors-darkgray) !important;
    font-size: small !important;
}
